.roboto {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    font-family: "Roboto";
    background-color: black;
}
.flex-container {
    margin: 0px 1070px;
    width: 1440px;
    height: auto;
    background: white;

}
  
.flex-container div {
    background: white;
    height: 600px;
}

.flex-container .one {
    background-color: #1f2937;
}

p1, p2 {
    background-color: #1f2937;

}

.flex-container .two {
    nav {
        border: 2px solid #eeeeee;
      }
      
      nav a {
        text-decoration: none;
        color: #000;
        border: 2px solid rgb(96 139 168);
        border-radius: 5px;
        background-color: rgb(96 139 168 / 0.2);
        padding: 10px;
        display: block;
      }
      
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
      }
}

nav {
  border: 2px solid #eeeeee;
}

nav a {
  text-decoration: none;
  color: #000;
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  padding: 10px;
  display: block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.flex-container .three {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic ;
    color: #1f2937;
    text-align: left;
    justify-content: center;
    padding: 140px;
}

h1 {
    text-align: right;
    background-color: #e5e7eb;
    font-size: 24px;
    justify-content: center;

}

.flex-container .four {
}

.left {
    border:  20px yellow;
    width: 720px;
    height: 150px;
}

.right {
    border:  20px yellow;
    width: 720px;
}