body {
    background-color: black;
}
.flex-container {
    margin: 10px 150px;
}

.flex-container div {
    background: white;
    height: 200px;
  }
.flex-container .hero {
    background-color: #1f2937;
}

.flex-container .two {

}

.flex-container .three {
    background-color: #e5e7eb;
}

.flex-container .four {

}

